@inherits Microsoft.AspNetCore.Components.Forms.InputDate<DateOnly?>
@using web.ui.Shared

<div @onfocusout="OnFocusOut" @onfocusin="OnFocusIn"  style="min-height:fit-content;padding: 1em; border:solid 1px black;">

    <ReText @bind-Value="CurrentValueAsString" ></ReText>

    <div @onfocusin="OnFocusIn">
    @if(_isFocused)
    {
        <DatePicker @bind-Value="CurrentValue" OnDateSelected="OnDateSelected"></DatePicker>
    }
    </div>

</div>

@code {
    
    private bool _isFocused = false;
    private void OnFocusIn()
    {
        _isFocused = true;
        Console.WriteLine("Date.razor OnFocusIn");
    }

    private void OnFocusOut()
    {
        _isFocused = false;
        Console.WriteLine("Date.razor OnFocusOut");
    }

    private void OnDateSelected(bool isDateSelected)
    {
        _isFocused = false;
        Console.WriteLine("Date.razor OnDateSelected");
    }
    
    // This is a code block

}