@inherits Microsoft.AspNetCore.Components.Forms.InputDate<DateOnly?>
@using web.ui.Shared

<div class="re-datepicker-wrapper">







<DateScroll @bind-Value="CurrentValue" Min="new DateOnly(2020, 1, 1)" Max="new DateOnly(2025, 12, 31)" ></DateScroll>


    <Calendar CurrentValue="@CurrentValue" ></Calendar>

</div>


@code {
    
    private int currentYear { get; set; } = DateTime.Now.Year;
    private int currentMonth { get; set; } = DateTime.Now.Month;
    private int currentDay { get; set; } = DateTime.Now.Day;

    private DateTime currentDate = DateTime.Now;

    private void OnDateSelected(DateOnly? date)
    {
        CurrentValue = date;
    }

    
    // This is a code block

}