@inherits LayoutComponentBase
<div class="page">

    <div>
        <Topbar />
    </div>

    <main class="main">

        <div class="d-flex flex-row g-3">
            
            <Sidebar />

            <body>

                <Header />

                <article class="article">

                    @Body

                </article>

                <Footer >                    
                    @footerText
                </Footer>

            </body>    
    
        </div>
        
    </main>

</div>

@code{
    
    private string footerText = @"© " + @DateTime.Now.Year.ToString() + " - Rendement.Blazor";//alt 0169 © to get the copyright symbol

}

<style>


    .main {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 3em;
    }

    .article {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1em 1.5em 1em 1.5em;
    }

    </style>


