<div class="sidebar">

    <div class="sidebar-container">

        <div class="navBtn">
            <a href="/">Home</a>
        </div>

        <div class="navBtn">
            <a href="./time">Time</a>
        </div>

        <div class="navBtn">
            <a href="./date">Date</a>
        </div>

        <div class="navBtn">
            <a href="./datepicker">DatePicker</a>
        </div>

        <div class="navBtn">
            <a href="./number">Number</a>

        </div>

        <div class="navBtn">
            <a href="./text">Text</a>
        </div>

            <div class="navBtn">
            <a href="./accordion">Accordion</a>
        </div>

        <div class="navBtn">
            <a href="./rolodex">Rolodex</a>
        </div>

    </div>

</div>

<style>
    .sidebar {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 3em);
        width: 10em;
        background-color: #f5f5f5;
        
    }

    .sidebar  .navBtn {
        width:100%;
    }

    .sidebar  .navBtn a{        
        display: block;
        padding: .75em;
        background-color: #f5f5f5;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .sidebar  .navBtn a:hover{
        background-color: white;
    }
</style>