@page "/date"

<PageTitle>Date</PageTitle>

<h5>Date</h5>

<ReDate class="re-input" @bind-Value="@date"></ReDate>

@date?.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)


<CodeBlock Language="csharp">@dateRendement</CodeBlock>
<CodeBlock Language="csharp">@codeDate</CodeBlock>


<Calendar @bind-Value="date"></Calendar>
@date

@code {
    
    private DateOnly? date = DateOnly.FromDateTime(DateTime.Now.AddMonths(-1));
    private string dateToString = string.Empty;

    private string dateRendement = @"<ReDate class=""re-input"" @bind-Value=""date""></ReDate>";
    private string codeDate = @"private DateOnly? date = DateOnly.FromDateTime(DateTime.Now);";

    
}