@page "/datepicker"


<PageTitle>DatePicker</PageTitle>

<h4>DatePicker</h4>

<ReDatePicker class="re-input" Value="@selectedDate" ValueExpression="@(() => selectedDate)" ValueChanged="@((DateOnly? date) => selectedDate = date)" />

@code{
    private DateOnly? selectedDate = DateOnly.FromDateTime(DateTime.Now);
}

