@page "/"

<PageTitle>Home</PageTitle>

<h5>Home</h5>




@code {
    
    private DateOnly? dateOne = DateOnly.FromDateTime(DateTime.Now);
    private string textOne = "Hello, World!";

    private int? numberOne { get; set; } = 1;

    private double? numberTwo { get; set; } = 1.5;

    private decimal? numberThree { get; set; } = 1.02m;

    private float? numberFour { get; set; } = 1.005f;

    private long? numberFive { get; set; } = 2L;
}
